<nav class="desktop-nav">
      <div class="nav-text">
         <a href="/"><span>habittracker</span></a>
         <a href="/#who"><span class="nav-add-hover">Who is it for?</span></a>
         <a href="/#why"><span class="nav-add-hover">Why track your habits?</span></a>
         <a href="/habits"><span class="nav-add-hover">My Habits</span></a>
         <a href="/login/logout"><span class="nav-add-hover">Sign out</span></a>
      </div>
      <button class="hamburger hamburger--squeeze" type="button">
         <span class="hamburger-box">
         <span class="hamburger-inner"></span>
         </span>
      </button>
   </nav>