<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" href="assets/favicon.ico">
   <link rel="stylesheet" href="css/nav.css">
   <link rel="stylesheet" href="css/footer.css">
   <link rel="stylesheet" href="css/login.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
   <title>Login</title>
</head>
<body>
   <%- include ("./partials/nav") %>
   <div class="content-container">
      <div class="login-container">
         <%= include ("./partials/messages") %>
         <h1>Log in</h1>
         <div class="inputs">
            <form action="/login/loginUser" method="post">
               <label for="email">Email</label>
               <input type="text" placeholder="example@gmail.com" name="email">
               <label for="password">Password</label>
               <input type="password" placeholder="password" name="password">
               <button type="submit" class="login-btn">Login</button>
            </form>
         </div>
         <span>New to Habit Tracker? Register <a href="/getStarted" class="get-started-a">here</a></span>
      </div>
   </div>
   <%- include ("./partials/footer") %>
</body>
</html>