 /*************** GENERAL STYLES ***************/
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
 }

 html {
    scroll-behavior: smooth;
 }

 a {
    text-decoration: none;
 }

 input:focus,
 select:focus {
    outline: none;
 }

 :root {
    --light-font-colour: #6B7280;
    --btn-colour: #1C64F2;
    font-family: 'Inter', sans-serif;
 }

 .no-scroll {
    overflow-y: hidden;
 }

 .fixed-position {
    position: fixed;
 }

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
 }

 /*************** MAIN CONTENT SECTION ***************/
 .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
 }

 .register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px;
    gap: 20px;
    width: 448px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
 }

 h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #111928;
 }

 .error-msg {
    color: #F05252
 }

 .inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
 }

 input {
    display: block;
    width: 384px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    height: 42px;
    background: #F9FAFB;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    margin-bottom: 20px;
 }

 input:focus {
    border: 1px solid #111928;
 }

 label {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #111928;
    margin-bottom: 8px;
 }

 .register-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;
    width: 100%;
    height: 41px;
    background: var(--btn-colour);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #FFF;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    transition: ease .3s;
 }

 .register-btn:hover {
    background: #31c48d;
 }

 .login-a {
    color: #1C64F2;
 }

 /*================= MEDIA QUERIES =================*/
 @media screen and (max-width: 480px) {
    .register-container {
       width: 100%;
    }
 }