 /*************** GENERAL STYLES ***************/
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
 }

 a {
    text-decoration: none;
 }

 :root {
    --light-font-colour: #6B7280;
    --btn-colour: #1C64F2;
    font-family: 'Inter', sans-serif;
 }

 .no-scroll {
    overflow-y: hidden;
 }

 .fixed-position {
    position: fixed;
 }

 /*************** NAV SECTION ***************/
 nav {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: #F9FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    width: 100%;
    height: 85px;
 }

 .nav-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    width: 1280px;
    height: 24px;
 }

 .nav-text a:nth-child(1) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    background: linear-gradient(to right, #111928 0%, #111928 41%, #1C64F2 41%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 .nav-text a:nth-child(2),
 .nav-text a:nth-child(3),
 .nav-text a:nth-child(4),
 .nav-text a:nth-child(5) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #111928;
 }

 .nav-text a:nth-child(4) {
    margin-right: auto;
 }

 .nav-add-hover {
    transition: ease .3s;
 }

 .nav-add-hover:hover {
    color: #1A56DB;
 }


 /*************** MOBILE MENU SECTION ***************/
 .hamburger {
    display: none;
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
 }

 .hamburger:hover {
    opacity: 0.7;
 }

 .hamburger.is-active:hover {
    opacity: 0.7;
 }

 .hamburger.is-active .hamburger-inner,
 .hamburger.is-active .hamburger-inner::before,
 .hamburger.is-active .hamburger-inner::after {
    background-color: #111928;
 }

 .mobile-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 85px);
    display: none;
    overflow: hidden;
    justify-content: center;
    background: #0E141F;
    overflow-y: scroll;
 }

 h2 {
    width: 100%;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: #111928;
    margin-top: 38px;
 }

 .menu-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 0;
    gap: 16px;
    transform: scale(1);
    opacity: 0;
 }

 .menu-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #F9FAFB;
    text-align: center;
    letter-spacing: -0.01em;
 }

 .mobile-rectangle {
    width: 311px;
    height: 1px;
    background: #3A3A3A;
 }

 .mobile-menu.is-active {
    display: flex;
    z-index: 1;
 }

 .menu-content.is-active {
    opacity: 1;
 }

 .no-scroll {
    overflow-y: hidden;
 }

 .dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #F05252;
 }

 .menu-item-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
 }

 .yellow-dot {
    background: #FACA15;
 }

 .teal-dot {
    background: #16BDCA;
    ;
 }

 .blue-dot {
    background: #1C64F2;
 }

 .purple-dot {
    background: #9061F9;
 }

 /*************** MAIN CONTENT SECTION ***************/
 .content-container {
    /* min-height: 800px; */
    padding-top: 150px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
 }

 .container-size {
    width: 1310px;
    margin: 0 auto;
 }

 .hero-container {
    display: flex;
    justify-content: space-between;
 }

 .left-content,
 .habit-container {
    width: calc(50% - 24px);
 }

 .habit-container {
    margin-top: 150px;
 }

 .current-date {
    color: var(--light-font-colour);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 12px;
    display: inline-block;
 }

 .habits-left {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: #1F2A37;
    flex-direction: row;
    display: flex;
    gap: 10px;
    align-items: center;
 }

 .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: var(--btn-colour);
    color: #FFF;
    border-radius: 999px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    padding-top: 0.5px;
 }

 .title-desc {
    margin-top: 83px;
 }

 .title-desc h1 {
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
 }

 .title-desc span {
    color: var(--light-font-colour);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
 }

 input {
    margin-top: 40px;
    width: 325px;
    height: 52px;
    padding: 14px 16px;
    background: #F9FAFB;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
 }

 input:focus {
    outline-width: 0;
    border: 1px solid #111928;
 }

 .add-habit {
    width: 125px;
    height: 52px;
    background: var(--btn-colour);
    color: white;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    margin-left: 12px;
    transition: ease .3s;
 }

 .add-habit:hover,
 .update:hover {
    background: #31c48d;
 }

 .delete:hover {
    border-color: #b2b4b7;
 }

 /*************** HABITS CONTENT SECTION ***************/
 li {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 2px 20px -2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
 }

 .content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 100%;
 }

 .content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
 }

 .rectangle {
    width: 100%;
    height: 1px;
    background: #ECECEC;
    margin: 16px 0 14px 0;
 }

 .habit {
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    width: calc(100% - 129px);
 }

 .days-style {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: #1F2A37;
 }

 .days-green {
    width: 61px;
    height: 30px;
    background: #BCF0DA;
    border: 1px solid #31C48D;
    border-radius: 8px;
    padding: 6px 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    margin-left: 8px;
 }

 .days-green-fix {
    background: #BCF0DA;
 }

 .btn-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
 }

 .update {
    width: 89px;
    height: 37px;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    background: var(--btn-colour);
    color: white;
    cursor: pointer;
    margin-left: 12px;
    transition: ease .3s;
 }

 .delete {
    width: 124px;
    height: 37px;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    background: #FFF;
    padding: 8px 12px;
    cursor: pointer;
    transition: ease .3s;
 }

 .empty-state {
    height: 398px;
    background: #F9FAFB;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 .fade-li {
    opacity: 0.4;
 }

 .undo-btn:hover {
    background: #F05252 !important;
 }

 .completed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #31c48d;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 10px;
 }

 .completed-msg {
    color: #FFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
 }

 /*================= MEDIA QUERIES =================*/
 @media screen and (max-width: 1350px) {
    .content-container {
       width: calc(100% - 48px);
       justify-content: center;
       align-items: center;
    }

    .hero-container {
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
       width: 631px;
    }

    .left-content,
    .habit-container {
       width: 100%;
    }

    .habit-container {
       margin-top: 83px;
    }
 }

 @media screen and (min-width: 1350px) {
    .title-desc {
       width: 70% !important;
       display: inline-block;
    }
 }

 @media screen and (max-width: 900px) {

    .nav-text a:nth-child(2),
    .nav-text a:nth-child(3),
    .nav-text a:nth-child(4),
    .nav-text a:nth-child(5),
    .nav-text a:nth-child(6) {
       display: none;
    }

    .hamburger-box {
       width: 40px;
       height: 24px;
       display: inline-block;
       position: relative;
    }

    .hamburger-inner {
       display: block;
       top: 50%;
       margin-top: -2px;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
       width: 40px;
       height: 4px;
       background-color: #111928;
       ;
       border-radius: 4px;
       position: absolute;
       transition-property: transform;
       transition-duration: 0.15s;
       transition-timing-function: ease;
    }

    .hamburger-inner::before,
    .hamburger-inner::after {
       content: "";
       display: block;
    }

    .hamburger-inner::before {
       top: -10px;
    }

    .hamburger-inner::after {
       bottom: -10px;
       width: 20px;
    }

    .hamburger--squeeze .hamburger-inner {
       transition-duration: 0.075s;
       transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--squeeze .hamburger-inner::before {
       transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    }

    .hamburger--squeeze .hamburger-inner::after {
       transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--squeeze.is-active .hamburger-inner {
       transform: rotate(45deg);
       transition-delay: 0.12s;
       transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .hamburger--squeeze.is-active .hamburger-inner::before {
       top: 0;
       opacity: 0;
       transition: top 0.075s ease, opacity 0.075s 0.12s ease;
    }

    .hamburger--squeeze.is-active .hamburger-inner::after {
       bottom: 0;
       transform: rotate(-90deg);
       transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
       width: 40px;
    }
 }

 @media screen and (max-width: 680px) {
    .hero-container {
       width: 100%;
    }

    .add-habit {
       width: 100%;
       margin-left: 0;
    }

    input {
       width: 100%;
       margin-bottom: 10px;
    }
 }