.dot {
   width: 8px;
   height: 8px;
   border-radius: 100%;
   background: #F05252;
}

.menu-item-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 16px;
}

.yellow-dot {
   background: #FACA15;
}

.teal-dot {
   background: #16BDCA;
   ;
}

.blue-dot {
   background: #1C64F2;
}

.purple-dot {
   background: #9061F9;
}

nav {
   position: fixed;
   top: 0;
   background: #F9FAFB;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 24px;
   width: 100%;
   height: 85px;
}

.nav-text {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 32px;
   width: 1280px;
   height: 24px;
}

.nav-text a:nth-child(1) {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 800;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: -0.01em;
   background: linear-gradient(to right, #111928 0%, #111928 41%, #1C64F2 41%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.nav-text a:nth-child(2),
.nav-text a:nth-child(3),
.nav-text a:nth-child(4),
.nav-text a:nth-child(5) {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 150%;
   color: #111928;
}

.nav-text a:nth-child(4) {
   margin-right: auto;
}

.nav-text a:nth-child(6) {
   padding: 8px 12px;
   width: 102px;
   height: 37px;
   background: #1A56DB;
   border-radius: 8px;
   color: #FFF;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 150%;
   transition: ease .3s;
}

.nav-text a:nth-child(6):hover {
   background: #31c48d;
}

.nav-add-hover {
   transition: ease .3s;
}

.nav-add-hover:hover {
   color: #1A56DB;
}

.mobile-menu {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 88.5%;
   display: none;
   overflow: hidden;
   align-items: center;
   justify-content: center;
   background: #0E141F;
}


.menu-content {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0px;
   gap: 16px;
   transform: scale(1);
   opacity: 0;
}

.menu-item {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 150%;
   color: #F9FAFB;
   text-align: center;
   letter-spacing: -0.01em;
}

.mobile-rectangle {
   width: 311px;
   height: 1px;
   background: #3A3A3A;
}

.mobile-menu.is-active {
   display: flex;
}

.menu-content.is-active {
   opacity: 1;
}

.hamburger {
   display: none;
   padding: 15px 15px;
   display: inline-block;
   cursor: pointer;
   transition-property: opacity, filter;
   transition-duration: 0.15s;
   transition-timing-function: linear;
   font: inherit;
   color: inherit;
   text-transform: none;
   background-color: transparent;
   border: 0;
   margin: 0;
   overflow: visible;
}

.hamburger:hover {
   opacity: 0.7;
}

.hamburger.is-active:hover {
   opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
   background-color: #111928;
}

/*================= MEDIA QUERIES =================*/

@media screen and (max-width: 900px) {

   .nav-text a:nth-child(2),
   .nav-text a:nth-child(3),
   .nav-text a:nth-child(4),
   .nav-text a:nth-child(5),
   .nav-text a:nth-child(6) {
      display: none;
   }

   .hamburger-box {
      margin-top: 5px;
      width: 40px;
      height: 24px;
      display: inline-block;
      position: relative;
   }

   .hamburger-inner {
      display: block;
      top: 50%;
      margin-top: -2px;
   }

   .hamburger-inner,
   .hamburger-inner::before,
   .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: #111928;
      ;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
   }

   .hamburger-inner::before,
   .hamburger-inner::after {
      content: "";
      display: block;
   }

   .hamburger-inner::before {
      top: -10px;
   }

   .hamburger-inner::after {
      bottom: -10px;
      width: 20px;
   }

   .hamburger--squeeze .hamburger-inner {
      transition-duration: 0.075s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
   }

   .hamburger--squeeze .hamburger-inner::before {
      transition: top 0.075s 0.12s ease, opacity 0.075s ease;
   }

   .hamburger--squeeze .hamburger-inner::after {
      transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
   }

   .hamburger--squeeze.is-active .hamburger-inner {
      transform: rotate(45deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
   }

   .hamburger--squeeze.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.075s ease, opacity 0.075s 0.12s ease;
   }

   .hamburger--squeeze.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      width: 40px;
   }
}